<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626051786079-ftkrkqnqiqovkn3fabe6egk4c21ou7if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626051786079-ftkrkqnqiqovkn3fabe6egk4c21ou7if</string>
	<key>API_KEY</key>
	<string>AIzaSyCP7vFoGxEjXVohulaK9lm2K4J3abHYqJw</string>
	<key>GCM_SENDER_ID</key>
	<string>626051786079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>osamafinal-a60e4</string>
	<key>STORAGE_BUCKET</key>
	<string>osamafinal-a60e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626051786079:ios:546c5276fa2b1335b442ea</string>
</dict>
</plist>